<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASTEX</title>
    <link rel="icon" th:href="@{/Images/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/Styles/menu_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Styles/login_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Styles/accept_cookies_style.css}">
</head>

<body>

<div th:replace="~{fragments/accept_cookies :: cookies}"></div>

<div class="container">
    <div class="logo"><a href="#" onclick="redirectToIndex(); return false;"><img src="/Images/logo.png"></a></div>
    <div class="message_div">
        <h1 class="successful">
            Congratulations!
        </h1>
        <div class="inner">
        <p>
            Great job! You're just one step away from accessing all the amazing features! Please check your inbox and
            confirm your email to get started.
        </p>
        <ol type="1">
            <li>
                Check your inbox: Look for an email from us with the subject line "Email Confirmation."
            </li>
            <li>
                Click the confirmation link: Open the email and click the "Confirm Email" button/link provided. This
                will activate your account instantly.
            </li>
            <li>
                Start exploring: Once your email is confirmed, you'll gain immediate access to all the incredible tools
                and resources we offer.
            </li>
        </ol>
        <p>
            If you don't see the confirmation email in your inbox, please check your spam or junk folder. Sometimes, it
            can accidentally end up there.
        </p>
        <p>
            We can't wait to have you onboard and see what you accomplish with our platform!
        </p>
        </div>
        <button onclick="redirectToLogIn()">Done</button>
    </div>
</div>

<script th:src="@{/Scripts/accept_cookies.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.0.0/jsencrypt.min.js"></script>
<script th:src="@{/Scripts/redirect.js}"></script>

</body>
</html>